---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/weather?appid=api-key&lang=pt_BR&q=Campinas&units=metric
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":-47.06,"lat":-22.91},"weather":[{"id":800,"main":"Clear","description":"céu
        limpo","icon":"01n"}],"base":"stations","main":{"temp":18,"feels_like":13.15,"temp_min":18,"temp_max":18,"pressure":1016,"humidity":72},"visibility":10000,"wind":{"speed":8.2,"deg":130},"clouds":{"all":0},"dt":1604534869,"sys":{"type":1,"id":8393,"country":"BR","sunrise":1604478061,"sunset":1604524955},"timezone":-10800,"id":3467865,"name":"Campinas","cod":200}'
  recorded_at: Thu, 05 Nov 2020 00:09:01 GMT
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/forecast?appid=api-key&lang=pt_BR&q=Campinas&units=metric
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"cod":"200","message":0,"cnt":40,"list":[{"dt":1604545200,"main":{"temp":16.47,"feels_like":13.87,"temp_min":14.86,"temp_max":16.47,"pressure":1016,"sea_level":1016,"grnd_level":936,"humidity":78,"temp_kf":1.61},"weather":[{"id":800,"main":"Clear","description":"céu
        limpo","icon":"01n"}],"clouds":{"all":5},"wind":{"speed":4.87,"deg":154},"visibility":10000,"pop":0.16,"sys":{"pod":"n"},"dt_txt":"2020-11-05
        03:00:00"},{"dt":1604556000,"main":{"temp":15.68,"feels_like":12.94,"temp_min":15.04,"temp_max":15.68,"pressure":1014,"sea_level":1014,"grnd_level":935,"humidity":80,"temp_kf":0.64},"weather":[{"id":802,"main":"Clouds","description":"nuvens
        dispersas","icon":"03n"}],"clouds":{"all":37},"wind":{"speed":4.91,"deg":107},"visibility":10000,"pop":0.29,"sys":{"pod":"n"},"dt_txt":"2020-11-05
        06:00:00"},{"dt":1604566800,"main":{"temp":15.11,"feels_like":13.73,"temp_mi[...]
