---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/weather?appid=api-key&lang=pt_BR&q=Campinas&units=metric
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":-47.06,"lat":-22.91},"weather":[{"id":800,"main":"Clear","description":"céu
        limpo","icon":"01n"}],"base":"stations","main":{"temp":16.31,"feels_like":10.36,"temp_min":15,"temp_max":17.78,"pressure":1017,"humidity":62},"visibility":10000,"wind":{"speed":8.2,"deg":130},"rain":{"1h":0.1},"clouds":{"all":0},"dt":1604367280,"sys":{"type":1,"id":8393,"country":"BR","sunrise":1604305327,"sunset":1604352084},"timezone":-10800,"id":3467865,"name":"Campinas","cod":200}'
  recorded_at: Tue, 03 Nov 2020 01:40:10 GMT
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/forecast?appid=api-key&lang=pt_BR&q=Campinas&units=metric
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"cod":"200","message":0,"cnt":40,"list":[{"dt":1604372400,"main":{"temp":14.5,"feels_like":10.37,"temp_min":12.61,"temp_max":14.5,"pressure":1017,"sea_level":1017,"grnd_level":936,"humidity":69,"temp_kf":1.89},"weather":[{"id":800,"main":"Clear","description":"céu
        limpo","icon":"01n"}],"clouds":{"all":0},"wind":{"speed":5.55,"deg":126},"visibility":10000,"pop":0,"sys":{"pod":"n"},"dt_txt":"2020-11-03
        03:00:00"},{"dt":1604383200,"main":{"temp":12.65,"feels_like":9.42,"temp_min":11.64,"temp_max":12.65,"pressure":1015,"sea_level":1015,"grnd_level":934,"humidity":78,"temp_kf":1.01},"weather":[{"id":800,"main":"Clear","description":"céu
        limpo","icon":"01n"}],"clouds":{"all":0},"wind":{"speed":4.27,"deg":120},"visibility":10000,"pop":0,"sys":{"pod":"n"},"dt_txt":"2020-11-03
        06:00:00"},{"dt":1604394000,"main":{"temp":12.08,"feels_like":9.33,"temp_min":11.79,"temp[...]
