---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/weather?appid=api-key&lang=pt_BR&q=Campinas&units=metric
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":-47.0608,"lat":-22.9056},"weather":[{"id":802,"main":"Clouds","description":"nuvens
        dispersas","icon":"03d"}],"base":"stations","main":{"temp":25.52,"feels_like":25.67,"temp_min":25.05,"temp_max":28.95,"pressure":1017,"humidity":59},"visibility":10000,"wind":{"speed":6.17,"deg":140},"clouds":{"all":40},"dt":1639837752,"sys":{"type":1,"id":8393,"country":"BR","sunrise":1639815530,"sunset":1639864267},"timezone":-10800,"id":3467865,"name":"Campinas","cod":200}'
  recorded_at: Sat, 18 Dec 2021 14:30:42 GMT
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/forecast?appid=api-key&lang=pt_BR&q=Campinas&units=metric
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"cod":"200","message":0,"cnt":40,"list":[{"dt":1639839600,"main":{"temp":25.52,"feels_like":25.67,"temp_min":25.52,"temp_max":27.33,"pressure":1017,"sea_level":1017,"grnd_level":939,"humidity":59,"temp_kf":-1.81},"weather":[{"id":500,"main":"Rain","description":"chuva
        leve","icon":"10d"}],"clouds":{"all":40},"wind":{"speed":3.38,"deg":127,"gust":3.35},"visibility":10000,"pop":0.38,"rain":{"3h":0.12},"sys":{"pod":"d"},"dt_txt":"2021-12-18
        15:00:00"},{"dt":1639850400,"main":{"temp":25.69,"feels_like":25.91,"temp_min":25.69,"temp_max":26.02,"pressure":1015,"sea_level":1015,"grnd_level":937,"humidity":61,"temp_kf":-0.33},"weather":[{"id":500,"main":"Rain","description":"chuva
        leve","icon":"10d"}],"clouds":{"all":51},"wind":{"speed":4.82,"deg":136,"gust":6.4},"visibility":10000,"pop":0.39,"rain":{"3h":0.17},"sys":{"pod":"d"},"dt_txt":"2021-12-18
        18:00:00"},{"dt":1639861200,"main":{"temp":24.05,"fee[...]
