---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/weather?appid=20bd7673a66a6857ee07dc3f8a6206b3&lang=pt_BR&q=Campinas&units=metric
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":-47.06,"lat":-22.91},"weather":[{"id":800,"main":"Clear","description":"céu
        limpo","icon":"01n"}],"base":"stations","main":{"temp":18,"feels_like":10.53,"temp_min":18,"temp_max":18,"pressure":1015,"humidity":55},"visibility":10000,"wind":{"speed":10.3,"deg":140},"clouds":{"all":0},"dt":1604356518,"sys":{"type":1,"id":8393,"country":"BR","sunrise":1604305327,"sunset":1604352084},"timezone":-10800,"id":3467865,"name":"Campinas","cod":200}'
  recorded_at: Mon, 02 Nov 2020 22:35:18 GMT
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/forecast?appid=20bd7673a66a6857ee07dc3f8a6206b3&lang=pt_BR&q=Campinas&units=metric
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"cod":"200","message":0,"cnt":40,"list":[{"dt":1604361600,"main":{"temp":16.03,"feels_like":10.99,"temp_min":13.97,"temp_max":16.03,"pressure":1015,"sea_level":1015,"grnd_level":936,"humidity":65,"temp_kf":2.06},"weather":[{"id":800,"main":"Clear","description":"céu
        limpo","icon":"01n"}],"clouds":{"all":1},"wind":{"speed":7.06,"deg":132},"visibility":10000,"pop":0,"sys":{"pod":"n"},"dt_txt":"2020-11-03
        00:00:00"},{"dt":1604372400,"main":{"temp":13.77,"feels_like":9.65,"temp_min":12.6,"temp_max":13.77,"pressure":1016,"sea_level":1016,"grnd_level":936,"humidity":73,"temp_kf":1.17},"weather":[{"id":800,"main":"Clear","description":"céu
        limpo","icon":"01n"}],"clouds":{"all":0},"wind":{"speed":5.58,"deg":125},"visibility":10000,"pop":0,"sys":{"pod":"n"},"dt_txt":"2020-11-03
        03:00:00"},{"dt":1604383200,"main":{"temp":12.08,"feels_like":8.93,"temp_min":11.68,"temp_[...]
