---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/weather?appid=api-key&lang=pt_BR&q=Campinas&units=metric
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":-47.06,"lat":-22.91},"weather":[{"id":802,"main":"Clouds","description":"nuvens
        dispersas","icon":"03d"}],"base":"stations","main":{"temp":24,"feels_like":23.18,"temp_min":24,"temp_max":24,"pressure":1014,"humidity":44},"visibility":10000,"wind":{"speed":1.63,"deg":194},"clouds":{"all":40},"dt":1604422893,"sys":{"type":1,"id":8393,"country":"BR","sunrise":1604391693,"sunset":1604438519},"timezone":-10800,"id":3467865,"name":"Campinas","cod":200}'
  recorded_at: Tue, 03 Nov 2020 17:01:49 GMT
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/forecast?appid=api-key&lang=pt_BR&q=Campinas&units=metric
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"cod":"200","message":0,"cnt":40,"list":[{"dt":1604426400,"main":{"temp":24.16,"feels_like":23.94,"temp_min":24.16,"temp_max":24.32,"pressure":1013,"sea_level":1013,"grnd_level":935,"humidity":47,"temp_kf":-0.16},"weather":[{"id":500,"main":"Rain","description":"chuva
        leve","icon":"10d"}],"clouds":{"all":59},"wind":{"speed":1.25,"deg":173},"visibility":10000,"pop":0.51,"rain":{"3h":0.84},"sys":{"pod":"d"},"dt_txt":"2020-11-03
        18:00:00"},{"dt":1604437200,"main":{"temp":19.77,"feels_like":16.97,"temp_min":18.61,"temp_max":19.77,"pressure":1012,"sea_level":1012,"grnd_level":933,"humidity":68,"temp_kf":1.16},"weather":[{"id":500,"main":"Rain","description":"chuva
        leve","icon":"10d"}],"clouds":{"all":69},"wind":{"speed":5.66,"deg":138},"visibility":10000,"pop":0.52,"rain":{"3h":0.51},"sys":{"pod":"d"},"dt_txt":"2020-11-03
        21:00:00"},{"dt":1604448000,"main":{"temp":16.14,"feels_like":13.[...]
- request:
    method: post
    uri: https://api.twitter.com/1.1/statuses/update.json
    body:
      encoding: UTF-8
      string: status=24%C2%B0C+e+nuvens+dispersas+em+Campinas+em+03%2F11.+M%C3%A9dia+para+os+pr%C3%B3ximos+dias+de%3A+19%C2%B0C+em+04%2F11%2C+19%C2%B0C+em+05%2F11%2C+19%C2%B0C+em+06%2F11%2C+20%C2%B0C+em+07%2F11%2C+e+20%C2%B0C+em+08%2F11.
    headers:
      Authorization:
      - OAuth oauth_consumer_key="FrIeUhcSrcubd2SFXhmHDmHCF", oauth_nonce="cabb684848167274f385512ed14a2f8a",
        oauth_signature="tZ7xp6L%2FbUYL8buPjQCPm1k5X24%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1604422910", oauth_token="1321976624024330241-M66f3beACBMCGpQwMQ65sAwC5kBYNH",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 03 Nov 2020 17:01:51 GMT
      Status:
      - 403 Forbidden
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - e79c043b0b5a3a8838954073b3a7d22a
      X-Response-Time:
      - '24'
      X-Transaction:
      - 0013025300c20d5d
      X-Tsa-Request-Body-Time:
      - '1'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"errors":[{"code":187,"message":"Status is a duplicate."}]}'
  recorded_at: Tue, 03 Nov 2020 17:01:50 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?count=1
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="FrIeUhcSrcubd2SFXhmHDmHCF", oauth_nonce="bf827fedcd6fd51924fb2d17f90daa19",
        oauth_signature="hYJi2SrVuSTLv9cDYZeucdaAInU%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1604422910", oauth_token="1321976624024330241-M66f3beACBMCGpQwMQ65sAwC5kBYNH",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 03 Nov 2020 17:01:52 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-App-Rate-Limit-Limit:
      - '100000'
      X-App-Rate-Limit-Remaining:
      - '99995'
      X-App-Rate-Limit-Reset:
      - '1604448643'
      X-Connection-Hash:
      - fad7f6f1978fc5048eec3be9fcdeb4d9
      X-Rate-Limit-Limit:
      - '900'
      X-Rate-Limit-Remaining:
      - '897'
      X-Rate-Limit-Reset:
      - '1604422917'
      X-Response-Time:
      - '30'
      X-Transaction:
      - '00846fa200f18303'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '[{"created_at":"Tue Nov 03 16:50:48 +0000 2020","id":1323668965437132800,"id_str":"1323668965437132800","text":"24\u00b0C
        e nuvens dispersas em Campinas em 03\/11. M\u00e9dia para os pr\u00f3ximos
        dias de: 19\u00b0C em 04\/11, 19\u00b0C em 05\/11, 19\u00b0C em\u2026 https:\/\/t.co\/LVfUbsvGRs","truncated":true,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/LVfUbsvGRs","expanded_url":"https:\/\/twitter.com\/i\/web\/status\/1323668965437132800","display_url":"twitter.com\/i\/web\/status\/1\u2026","indices":[117,140]}]},"source":"","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":1321976624024330241,"id_str":"1321976624024330241","name":"Gabriel
        Souza","screen_name":"Gabriel74456705","location":"","description":"Nothing","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":0,"friends_count":0,"listed_count":0,"created_at":"Fri
        Oct 30 00:46:09 +0000 2020","favourites_count":0,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":2,"lang":null,"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"F5F8FA","profile_background_image_url":null,"profile_background_image_url_https":null,"profile_background_tile":false,"profile_image_url":"http:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_normal.png","profile_image_url_https":"https:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_normal.png","profile_link_color":"1DA1F2","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":true,"default_profile":true,"default_profile_image":true,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"favorited":false,"retweeted":false,"lang":"pt"}]'
  recorded_at: Tue, 03 Nov 2020 17:01:51 GMT
recorded_with: VCR 6.0.0
