---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/weather?appid=api-key&lang=pt_BR&q=Campinas&units=metric
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":-47.06,"lat":-22.91},"weather":[{"id":800,"main":"Clear","description":"céu
        limpo","icon":"01n"}],"base":"stations","main":{"temp":18,"feels_like":13.15,"temp_min":18,"temp_max":18,"pressure":1016,"humidity":72},"visibility":10000,"wind":{"speed":8.2,"deg":130},"clouds":{"all":0},"dt":1604534869,"sys":{"type":1,"id":8393,"country":"BR","sunrise":1604478061,"sunset":1604524955},"timezone":-10800,"id":3467865,"name":"Campinas","cod":200}'
  recorded_at: Thu, 05 Nov 2020 00:08:52 GMT
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/forecast?appid=api-key&lang=pt_BR&q=Campinas&units=metric
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"cod":"200","message":0,"cnt":40,"list":[{"dt":1604545200,"main":{"temp":16.47,"feels_like":13.87,"temp_min":14.86,"temp_max":16.47,"pressure":1016,"sea_level":1016,"grnd_level":936,"humidity":78,"temp_kf":1.61},"weather":[{"id":800,"main":"Clear","description":"céu
        limpo","icon":"01n"}],"clouds":{"all":5},"wind":{"speed":4.87,"deg":154},"visibility":10000,"pop":0.16,"sys":{"pod":"n"},"dt_txt":"2020-11-05
        03:00:00"},{"dt":1604556000,"main":{"temp":15.68,"feels_like":12.94,"temp_min":15.04,"temp_max":15.68,"pressure":1014,"sea_level":1014,"grnd_level":935,"humidity":80,"temp_kf":0.64},"weather":[{"id":802,"main":"Clouds","description":"nuvens
        dispersas","icon":"03n"}],"clouds":{"all":37},"wind":{"speed":4.91,"deg":107},"visibility":10000,"pop":0.29,"sys":{"pod":"n"},"dt_txt":"2020-11-05
        06:00:00"},{"dt":1604566800,"main":{"temp":15.11,"feels_like":13.73,"temp_mi[...]
- request:
    method: post
    uri: https://api.twitter.com/1.1/statuses/update.json
    body:
      encoding: UTF-8
      string: status=18%C2%B0C+e+c%C3%A9u+limpo+em+Campinas+em+05%2F11.+M%C3%A9dia+para+os+pr%C3%B3ximos+dias+de%3A+20%C2%B0C+em+06%2F11%2C+21%C2%B0C+em+07%2F11%2C+24%C2%B0C+em+08%2F11%2C+24%C2%B0C+em+09%2F11%2C+e+19%C2%B0C+em+10%2F11.
    headers:
      Authorization:
      - OAuth oauth_consumer_key="FrIeUhcSrcubd2SFXhmHDmHCF", oauth_nonce="ce6a4654558eb349871cd93ee3f427a7",
        oauth_signature="PVgAr0XvZxIHc4nN%2FDvzx04DTaw%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1604534933", oauth_token="1321976624024330241-M66f3beACBMCGpQwMQ65sAwC5kBYNH",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 05 Nov 2020 00:08:55 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - d9cf05c2fd0d048cfcd4f1b1bcc957cb
      X-Response-Time:
      - '79'
      X-Transaction:
      - 007d0072001f8b57
      X-Tsa-Request-Body-Time:
      - '0'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"created_at":"Thu Nov 05 00:08:55 +0000 2020","id":1324141607868899328,"id_str":"1324141607868899328","text":"18\u00b0C
        e c\u00e9u limpo em Campinas em 05\/11. M\u00e9dia para os pr\u00f3ximos dias
        de: 20\u00b0C em 06\/11, 21\u00b0C em 07\/11, 24\u00b0C em 08\/11,\u2026 https:\/\/t.co\/AHqjfWHuJl","truncated":true,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/AHqjfWHuJl","expanded_url":"https:\/\/twitter.com\/i\/web\/status\/1324141607868899328","display_url":"twitter.com\/i\/web\/status\/1\u2026","indices":[117,140]}]},"source":"","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":1321976624024330241,"id_str":"1321976624024330241","name":"Gabriel
        Souza","screen_name":"Gabriel74456705","location":"","description":"Nothing","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":0,"friends_count":0,"listed_count":0,"created_at":"Fri
        Oct 30 00:46:09 +0000 2020","favourites_count":0,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":4,"lang":null,"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"F5F8FA","profile_background_image_url":null,"profile_background_image_url_https":null,"profile_background_tile":false,"profile_image_url":"http:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_normal.png","profile_image_url_https":"https:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_normal.png","profile_link_color":"1DA1F2","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":true,"default_profile":true,"default_profile_image":true,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"favorited":false,"retweeted":false,"lang":"pt"}'
  recorded_at: Thu, 05 Nov 2020 00:08:54 GMT
recorded_with: VCR 6.0.0
