---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/weather?appid=api-key&lang=pt_BR&q=Campinas&units=metric
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":-47.0608,"lat":-22.9056},"weather":[{"id":802,"main":"Clouds","description":"nuvens
        dispersas","icon":"03d"}],"base":"stations","main":{"temp":25.52,"feels_like":25.67,"temp_min":25.05,"temp_max":28.95,"pressure":1017,"humidity":59},"visibility":10000,"wind":{"speed":6.17,"deg":140},"clouds":{"all":40},"dt":1639837752,"sys":{"type":1,"id":8393,"country":"BR","sunrise":1639815530,"sunset":1639864267},"timezone":-10800,"id":3467865,"name":"Campinas","cod":200}'
  recorded_at: Sat, 18 Dec 2021 14:30:09 GMT
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/forecast?appid=api-key&lang=pt_BR&q=Campinas&units=metric
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"cod":"200","message":0,"cnt":40,"list":[{"dt":1639839600,"main":{"temp":25.52,"feels_like":25.67,"temp_min":25.52,"temp_max":27.33,"pressure":1017,"sea_level":1017,"grnd_level":939,"humidity":59,"temp_kf":-1.81},"weather":[{"id":500,"main":"Rain","description":"chuva
        leve","icon":"10d"}],"clouds":{"all":40},"wind":{"speed":3.38,"deg":127,"gust":3.35},"visibility":10000,"pop":0.38,"rain":{"3h":0.12},"sys":{"pod":"d"},"dt_txt":"2021-12-18
        15:00:00"},{"dt":1639850400,"main":{"temp":25.69,"feels_like":25.91,"temp_min":25.69,"temp_max":26.02,"pressure":1015,"sea_level":1015,"grnd_level":937,"humidity":61,"temp_kf":-0.33},"weather":[{"id":500,"main":"Rain","description":"chuva
        leve","icon":"10d"}],"clouds":{"all":51},"wind":{"speed":4.82,"deg":136,"gust":6.4},"visibility":10000,"pop":0.39,"rain":{"3h":0.17},"sys":{"pod":"d"},"dt_txt":"2021-12-18
        18:00:00"},{"dt":1639861200,"main":{"temp":24.05,"fee[...]
- request:
    method: post
    uri: https://api.twitter.com/1.1/statuses/update.json
    body:
      encoding: UTF-8
      string: status=26%C2%B0C+e+nuvens+dispersas+em+Campinas+em+18%2F12.+M%C3%A9dia+para+os+pr%C3%B3ximos+dias+de%3A+21%C2%B0C+em+19%2F12%2C+22%C2%B0C+em+20%2F12%2C+23%C2%B0C+em+21%2F12%2C+25%C2%B0C+em+22%2F12%2C+e+19%C2%B0C+em+23%2F12.
    headers:
      Authorization:
      - OAuth oauth_consumer_key="XRV35Me08XrRGjl2fiWcYUxll", oauth_nonce="54f1ebd62100d008e7d02321e8f62a64",
        oauth_signature="PtDKuYevFo1q55C5Cb42PgskI%2F4%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1639837812", oauth_token="1321976624024330241-2gxObb0TFq3b5uW1SVifT6Ae4xz4Z0",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sat, 18 Dec 2021 14:30:13 GMT
      X-Transaction:
      - 3a484800368fcb5c
      X-Access-Level:
      - read-write
      Content-Disposition:
      - attachment; filename=json.json
      X-Twitter-Response-Tags:
      - BouncerCompliant
      X-Response-Time:
      - '93'
      X-Connection-Hash:
      - aa49b911a32b3e25098d6ef910ab47d9d190342c6dab56891e813712c10848f7
    body:
      encoding: UTF-8
      string: '{"created_at":"Sat Dec 18 14:30:12 +0000 2021","id":1472212608627392513,"id_str":"1472212608627392513","text":"26\u00b0C
        e nuvens dispersas em Campinas em 18\/12. M\u00e9dia para os pr\u00f3ximos
        dias de: 21\u00b0C em 19\/12, 22\u00b0C em 20\/12, 23\u00b0C em\u2026 https:\/\/t.co\/ligGstlokN","truncated":true,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/ligGstlokN","expanded_url":"https:\/\/twitter.com\/i\/web\/status\/1472212608627392513","display_url":"twitter.com\/i\/web\/status\/1\u2026","indices":[117,140]}]},"source":"\u003ca
        href=\"https:\/\/help.twitter.com\/en\/using-twitter\/how-to-tweet#source-labels\"
        rel=\"nofollow\"\u003eWeatherGuy\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":1321976624024330241,"id_str":"1321976624024330241","name":"Gabriel
        Souza","screen_name":"Gabriel74456705","location":"","description":"Nothing","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":0,"friends_count":0,"listed_count":0,"created_at":"Fri
        Oct 30 00:46:09 +0000 2020","favourites_count":0,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":12,"lang":null,"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"F5F8FA","profile_background_image_url":null,"profile_background_image_url_https":null,"profile_background_tile":false,"profile_image_url":"http:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_normal.png","profile_image_url_https":"https:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_normal.png","profile_link_color":"1DA1F2","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":true,"default_profile":true,"default_profile_image":true,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none","withheld_in_countries":[]},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"favorited":false,"retweeted":false,"lang":"pt"}'
  recorded_at: Sat, 18 Dec 2021 14:30:13 GMT
recorded_with: VCR 6.0.0
